/* MyButton.css */
.custom-button {
        background-color: green;
        color: black; /* This sets the color of the text inside the button */
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        font-size: large;
        justify-content: left;
  }
  